.Send-Button{
    background-color: black;
    height:3em;
    border: 2px solid white;
    width: 9em;
    margin: 10px auto;
}

.Send-link{
    text-decoration: none;
    font-size: 1.5em;
    color:white;
}

.Contact-box{
    width:65vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.no-resize {
    resize: none;
  }
  