.social-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Align the icons to the top */
    flex-direction: column; /* Display the icons vertically */
    margin-right: 20px;;
  }
  
  .social-icon {
    display: block;
    border-style: solid;
    background-color: #fff;
    border-color: aquamarine;
    margin-bottom: 1em;
    height: 2.5em;
    padding: 0.2em;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .shift {
    position: fixed;
    top: 5em; /* Adjust the top position as needed */
    right: 0; /* Align the icons to the right side */
  }
  