.Social-icon {
    display: grid;
    justify-content: end;
}

.social-icon-style {
    display: grid;
    height: 40px;
    padding: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
    margin-right: 25px;
    cursor: pointer;
}