.brief-detail{
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.my-name{
    font-size:80px;
    font-family: 'Times New Roman', Times, serif;
}

.textstyle1{
    font-family: 'Roboto', sans-serif;
}

.textsytle2{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.Resume-link{
    text-decoration: none;
    font-size: 1em;
    color:white;
    padding:0px;
    word-spacing: 5px;
}

.Resume-button{
    background-color: black;
    height:3em;
    border: 2px solid white;
    width: 9em;
}


  