.stack-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 20px;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;

}

.icon-container img {
  padding: 5px;
  background-color: white;
  border: 2px solid aqua;
  margin: 7.5px;

}

.icon-container img:hover {
  -webkit-animation: spin 4s linear;
  -moz-animation: spin 4s linear;
  animation: spin 4s linear;
}

@media (max-width: 768px) {
  .icon-container img {
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 576px) {
  .icon-container img {
    width: 48px;
    height: 48px;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}