.tech-stack-container {
  display: flex;
  align-items: center;
}

.icon-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1em;
  justify-items: center;
  margin: auto;
}

.icon-container img {
  padding: 10px;
  width: auto;
  height: auto;
  background-color: white;
}

.element{
  margin:5em;
}

@media (max-width: 768px) {
  .icon-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}